<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Events List</title>
</head>
<body>
<h1>Event List</h1>

<!-- Display error messages -->
<div th:if="${hasError}">
    <p th:text="${error}"></p>
</div>

<!-- Filter events by location -->
<form th:action="@{/events}" method="get">
    <label>
        <select name="locationId">
            <option value="">All Locations</option>
            <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
        </select>
    </label>
    <button type="submit">Filter</button>
</form>

<!-- Event Table -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Popularity</th>
        <th>Location</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.popularityScore}"></td>
        <td th:text="${event.location.name}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/events/edit-form/{id}(id=${event.id})}">Edit</a>
            <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Show Add Event button only if the user is authenticated and has 'ADMIN' role -->
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/events/add-form}">Add New Event</a>
</div>

<h2>Choose an event:</h2>
<form method="POST" th:action="@{/eventBooking}">
    <div id="eventList">
        <div th:each="event : ${events}">
            <label>
                <input type="radio" name="eventName" th:value="${event.name}">
                Name: <span th:text="${event.name}"></span>,
                Description: <span th:text="${event.description}"></span>,
                Rating: <span th:text="${event.popularityScore}"></span>
            </label><br>
        </div>
    </div>
    <h3>Choose number of tickets:</h3>
    <label>
        <input type="number" name="numTickets" min="1" max="10">
    </label>
    <br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>